body {
    background: $light-blue-color;
}

a {
    transition: all ease-in .2s;
    &:hover {
        transition: all ease-out .2s;
        text-decoration: none;
    }
}

.custom-wrapper {
    max-width: 1500px;
    display: block;
    @include margin(null auto null auto);
}

main {
    @include margin(20px null 20px null);
}

.positions-review {
    @media(min-width:768px) {
        float: right;
        min-width: 300px;
    }
}

.hide-mobile {
    @media(max-width:768px) {
        display: none !important;
    }
}

.big-date {
    margin: 30px 0;
    display: block;
    @media(min-width:768px) {
        display: none !important;
        text-align: center;
        margin: 0;
    }
}

table.v-align-center {
    td {
        vertical-align: middle;
    }
}

.modal-default .modal-header {
    background: $primary-color;
    color: $white-color;
}

.navigate-wrapper {
    @media(max-width:768px) {
        text-align: center;
    }
}

#addReferenceCollapse {
    background: $gray-1-color;
    padding: 25px;
}

footer {
    background: #dce3e8;
    padding: 20px 10px;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    font-size: 12px;
}

.switch {
        margin-left: 15px;
}

.hidden {
    display: none !important;
    transition: all ease-in .3s;
}

.questions {
    th {
        word-break: break-word;
        line-height: 1.2;
    img {
        display: block;
        margin: auto;
    }
    span {
        min-height: 35px;
        display: block;
    }
}
}

#map {
    height: 100%;
  }

.sidebar-filter {
    height: 55px;
    width: 100%;
    background: $white-color;
    position: absolute;
    left: 0;
    top: 70px;
    box-shadow: -1px 0rem 1rem rgba(0, 0, 0, 0.15);
    @media(min-width:768px) {
        max-width: 400px;
        height: calc( 100% - 70px );
        box-shadow: 0px 2rem 1rem rgba(0, 0, 0, 0.15);
    }
}