$default-font: 'Montserrat', sans-serif;
$img-path: '../images/';
$primary-color: #4B80FD;
$light-blue-color: #ECF1F5;
$dark-blue-color: #2E3A57;
$white-color: #ffffff;
$black-color: #000000;
$gray-1-color: #DBDBDB;
$gray-2-color: #cccccc;
$purple-color: #5C6BF1;
$font-size-base: 14px;
$red-color: #EB5757;
$green-color: #00bb64;

$padding-y: 10px;
$padding-x: 20px;

