.time-holder {
	position: relative;
}

.remove-value {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: none;
    border: none;
    font-size: 12px;
    opacity: .3;
    cursor: pointer;
    &:hover {
        opacity: .6;
    }
}

.timepicker[readonly] {
    background: $white-color !important;
}

.schedule-date {
    @media(max-width:500px) {
        font-size: 12px;
    }
}
.time-holder {
.timepicker-drop {
   position: absolute;
   left: 0;
   top: 100%;
   width: 100%;
   min-width: 280px;
   padding: 20px;
   border: 1px solid #f2f2f2;
   z-index: 9;
   border-radius: 3px;
   background: $white-color;
   display: none;
   box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.44);
   @media(max-width:500px) {
    min-width: 200px;
}
}
&.time-holder--to {
    .timepicker-drop {
        @media(max-width:500px) {
            left: auto;
            right: 0;
        }
    }
}
}


button.timepicker-close {
    border: none;
    background: none;
    color: #353535;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
}

.time-values {
    display: flex;
    flex-wrap: wrap;
}

.time-values input[type="radio"] {
    position: absolute;
    left: -99999px;
}

.time-values label {
    width: calc(25% - 10px);
    text-align: center;
    padding: 5px;
    border: 1px solid $primary-color;
    margin: 5px;
    cursor: pointer;
    color: $primary-color;
}

.time-values input[type="radio"]:checked + label {
    transition: 0.2s all ease-in-out;
    background-color: $primary-color;
    color: $white-color;
  }

  .maridian {
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

.maridian button {
    margin: 0 5px;
    border: 1px solid $primary-color;
    background: none;
    padding: 5px 10px;
    color: $primary-color;
    &:nth-child(1) {
        margin-right: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right-color: transparent;
    }

    &:nth-child(2) {
        margin-left: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &.active {
        background: $primary-color;
        color: $white-color;
    }
    &:disabled {
        border: 1px solid lighten($primary-color, 20%);
        color: lighten($primary-color, 20%);
        &.active {
            background: transparent;
            color: lighten($primary-color, 20%);
        }
    }
}