{% set title = 'Store Map' %} {% set StoreMap = true %}
<!-- base layout file inheritance -->
{% extends "layout-map.html" %} {% block content %}
<style>
    html,
    body,
    main {
        height: 100%;
    }

    main {
        margin: 0;
    }
</style>
<div id="map"></div>
<div class="sidebar-filter">
    <div class="btn-group btn-group-toggle long-list" data-toggle="buttons">
        <label class="btn btn-outline-primary active">
            <input type="radio" name="options" id="kpvYes" autocomplete="off" checked> Map
        </label>
        <label class="btn btn-outline-primary">
            <input type="radio" name="options" id="kpvNo" autocomplete="off"> Location List
        </label>
    </div>
    <h1>Find Your Store</h1>
</div>
<script>
    function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 40.674, lng: -73.945 }, // Configure your latitude and longitude
            zoom: 12,
            styles: // Please paste the generated code from Style Wizard here. 
                [
                    {
                        "featureType": "water",
                        "stylers": [
                            {
                                "color": "#a1c2ff"
                            }
                        ]
                    }
                ]
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGqRxQFGDLiXbfcZvXCrv85q9rJjNM49g&callback=initMap" async
    defer></script> {% endblock %}