<div class="c-card multi-color">
        <div class="c-card__inner">
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <h1>353397 - Market Street</h1>
                    <h2 class="icon-link">
                        <i class="material-icons h2-size hide-mobile">place</i>
                        <span>2700 E Market St East York, PA 17402</span>
                    </h2>
                    <a href="#" class="btn btn-dark-blue">Get Directions</a>
                </div>
                <div class="col-12 col-lg-2">
                    <h2 class="big-date">08 August, 2018</h2>
                </div>
                <div class="col-12 col-lg-5 justify-content-lg-between">
                    <div class="positions-review">
                        <div class="form-group text-left">
                            <label for="selectPosition">Applying Position</label>
                            <select name="position-select" id="selectPosition" class="position selectpicker" data-style="btn-outlined">
                                <option value="1">Crew Member</option>
                                <option value="2">Manager</option>
                            </select>
                        </div>
                        <a href="#" class="btn btn-dark-blue mt-2">Add Reviews</a>
                    </div>
                </div>
            </div>
        </div>
    </div>