<ol class="step-indicator">
    <li {% if PersonalInfo %}
    class="active"
    {% elif BillingInfo %}
    class="complete"
    {% elif ReviewQuestions %}
    class="complete"
    {% endif %}>
        <div class="step">
            <i class="fas fa-user"></i>
        </div>
        <div class="caption">Personal Information</div>
    </li>
    <li {% if PersonalInfo %}
    {% elif BillingInfo %}
    class="active"
    {% elif ReviewQuestions %}
    class="complete"
    {% endif %}>
        <div class="step">
            <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="caption">Billing Information</div>
    </li>
    <li {% if PersonalInfo %}
    {% elif BillingInfo %}
    {% elif ReviewQuestions %}
    class="active"
    {% endif %}>
        <div class="step">
            <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="caption">Review Questions</div>
    </li>
</ol>