<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <!-- endbuild -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body class="mapped">
    <!-- Header Include -->
    {# {% include "partials/header.html" %} #}

    <main>
        <!-- body content -->
        {% block content %} {% endblock %}
    </main>
    <!-- color card Include -->
    {#{% include "partials/footer.html" %}#}
</body>
<!-- build:js js/scripts-map.min.js -->
<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/float-labels.min.js"></script>
<script src="js/simple-scrollbar.js"></script>
<!-- endbuild -->
<script>

    // Popover
    $('.pin[data-toggle="popover"]').each(function (i, obj) {
        $(this).popover({
            trigger: 'focus',
            html: true,
            content: function content() {
                var id = $(this).attr('id');
                return $('#popover-' + id).html();
            }
        });
    });
    $('.popover-dismiss').popover({
        trigger: 'focus'
    });

    // Floating label plugin
    var floatlabels = new FloatLabels('body', {
        customEvent: null,
        customLabel: null,
        customPlaceholder: null,
        exclude: '.no-label',
        inputRegex: /email|number|password|search|tel|text|url/,
        prefix: 'fl-',
        prioritize: 'label',
        style: 2,
        transform: 'input, select, textarea'
    });
</script>

</html>